
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="login-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Giriş Yap</h3>
                            @if (ViewBag.Warning != null)
                            {
                                <div class="alert alert-warning">@ViewBag.Warning</div>
                            }
                            <form method="POST" asp-controller="Home" asp-action="Login" class="loginForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="email">E-posta Adresi</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="E-posta Adresi">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="password">Şifre</label>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Şifre">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Giriş Yap" class="btn btn-primary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
